div.container {
  width:900px;
  margin:0 auto;
}

.row {
  width:100%;
}
.cell{
  float: left;
  width: 20px;
  height: 20px;
  background: turquoise;
  line-height: 30px;
  text-align: center;
  color: magenta;
}
